form{
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
}
.form-container{
    width: 20px;
    border: 10px;
    margin: 0, auto;
    border-radius: 10px;
    box-shadow: 0, 0, 10px rgba(0, 0, 0, 0.1);
}
.form-group{
    margin-bottom: 20px;
}
.form-group label{
    display: block;
    margin-bottom: 10px;
}
.form-group input, .text area{
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: rgb(187,186,186);
}
.button[type="SUBMIT"]{
    background-color: #4CAF50;
    color: #FFF;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.button[type="SUBMIT"]:hover {
    background-color: green;
}
.contact-info ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.contact-info li {
    margin: 10px;
}
.contact-info i {
    margin-right: 10px;
}